{{#each domains}}
    <div class="mdl-cell mdl-cell--12-col">
        <h2>{{domain}}</h2>
        {{#each data}}
            {{> Result record=this}}
        {{else}}
            No record
        {{/each}}
    </div>
{{/each}}