{{#*inline "page_content"}}
    <h2>SPF Record Checker</h2>

    <p>This site allows you to easily check and validate an SPF record, and also explains each of the parts of the record
    and their effect on email handling.</p>
    <a href="/check"><button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Check a site
    </button></a>
{{/inline}}
{{> shell title="SPF Record Validator"}}