{{#*inline "page_content"}}
    <h2>SPF Record Checker</h2>

    <p>This site allows you to easily check and validate an SPF record, and also explains each of the parts of the record
    and their effect on email handling.</p>
{{/inline}}
{{> shell title="SPF Record Validator"}}